:root {
  --overlay: rgba(0, 0, 0, 0.2);

  --black: #000000;
  --white: #ffffff;

  --gray-900: #0a0a0a;
  --gray-800: #201f21;
  --gray-500: #666666;
  --gray-300: #999999;
  --gray-250: #f9f9f9;
  --gray-200: #d9d6d0;
  --gray-100: #f3f1ef;
  --gray-150: #f6f6f6;
  --gray-50: #f9f8f6;
  --gray-25: #e6e6e6;

  --orange-800: #e8543b;
  --orange-700: #ff684e;
  --orange-650: #ff6535;
  --orange-600: #cb4306;
  --orange-500: #dd7446;
  --orange-400: #f4a07a;
  --orange-300: #f7b79a;

  --purple-500: #613ab7;
  --purple-400: #865ddb;
  --purple-300: #9d80d7;

  --turquoise-700: #117e95;
  --turquoise-600: #0a8163;
  --turquoise-500: #26c7a9;
  --turquoise-400: #41ddc0;
  --turquoise-300: #6de4ce;
  --turquoise-200: #2eeeaf;

  --yellow-100: #dcfe54;
  --yellow-200: #ccff00;
  --yellow-300: #ffeb3b;

  --red-500: #db4165;
  --red-400: #ff8289;
  --red-300: #ff9f9b;
}
