:root {
  --overlay: rgba(0,0,0, 0.2);

  --black: #000000;
  --white: #FFFFFF;
  
  --gray-900: #0A0A0A;
  --gray-800: #201F21;
  --gray-500: #666666;
  --gray-300: #999999;
  --gray-250: #F9F9F9;
  --gray-200: #D9D6D0;
  --gray-100: #F3F1EF;
  --gray-150: #F6F6F6;
  --gray-50: #F9F8F6;
  --gray-25: #E6E6E6;

  --orange-800: #E8543B;
  --orange-700: #FF684E;
  --orange-650: #ff6535;
  --orange-600: #CB4306;
  --orange-500: #DD7446;
  --orange-400: #F4A07A;
  --orange-300: #F7B79A;
  

  --purple-500: #613AB7;
  --purple-400: #865DDB;
  --purple-300: #9D80D7;
  
  --turquoise-700:#117E95;
  --turquoise-600: #0A8163;
  --turquoise-500: #26C7A9;
  --turquoise-400: #41DDC0;
  --turquoise-300: #6DE4CE;
  --turquoise-200: #2EEEAF;;

  --yellow-100: #DCFE54;
  --yellow-200: #CCFF00;

  --red-500: #DB4165;
  --red-400: #FF8289;
  --red-300: #FF9F9B;
}
